<div>
  <pre>
  </pre>
  <h4 class="text-center text-muted">IMDb Network</h4>
  <h5 class="d-flex justify-content-center" id="vertexInfo" name="vertexInfo"></h5>
  <div id="graphData" data-edges-struct="@Model.EdgesStruct" />
  <partial name="_Graph" />
</div>

<script src="~/js/imdb/network.js"></script>
